@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    background: #000000;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 100px;
}
main {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
}
#div-adicionar-filme {
    display: flex;
    flex-direction: row;
    margin: 20px auto 0 auto;
}
#alura-logo {
    width: 150px;
    height: 98px;
    text-align: center;
}
#flix-logo {
    width: 120px;
    height: 80px;
    text-align: center;
    margin-right: 50px;
}
.input-adicionar-filme {
    margin: 0 auto 3px auto;
    width: 300px;
    height: 25px;
}
#button-adicionar-filme {
    margin: 0 auto 30px auto;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background: #e60914;
    color: #FFFFFF;
}
#button-adicionar-filme:hover {
    cursor: pointer;
    background: #000000;
    border: 1px solid #e60914;
}
#lista-de-filmes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto 0 auto;
    justify-content: center;
    text-align: center;
}
#lista-de-filmes div {
    padding: 5px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    padding: 5px;;
}
#lista-de-filmes h1 {
    background: rgba(230, 9,20, 0.9);
    padding: 5px;
    border-radius: 0 0 20px 20px;
}
#lista-de-filmes img{
    width: 200px;
    height: 280px;
    border-radius: 20px 20px 0 0;
    background: rgba(230, 9,20, 0.9);
}
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
}
footer img {
    margin-top: 5px;
    width: 200px;
}